<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Настройки бота</title>
</head>
<body>
    <form method="post" action="/accept">
        Параметры:<br>
        Время напоминания(сек):<br>
        <input type="number" name="remind_time" value={{remind_time}}><br>
        Количество вопросов за тест:<br>
        <input type="number" name="count_words" value={{count_words}}><br>
        При каком количестве ответов слово будет считаться заученным:<br>
        <input type="number" name="count_to_learn" value={{count_to_learn}}><br>
        <input type="submit" value="Сохранить">
    </form>
</body>
</html>
